<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.googlecode.eclipse.navigatorext.category.keys"
            name="%navigatorext.category.keys">
      </category>
      <command
            categoryId="com.googlecode.eclipse.navigatorext.category.keys"
            description="%commands.ShowContextMenu.desc"
            id="com.googlecode.eclipse.navigatorext.commands.ShowContextMenu"
            name="%commands.ShowContextMenu.name">
      </command>
      <command
            categoryId="com.googlecode.eclipse.navigatorext.category.keys"
            description="%commands.CopyParentPath.desc"
            id="com.googlecode.eclipse.navigatorext.commands.CopyParentPath"
            name="%commands.CopyParentPath.name">
      </command>
      <command
            categoryId="com.googlecode.eclipse.navigatorext.category.keys"
            description="%commands.CopyFileName.desc"
            id="com.googlecode.eclipse.navigatorext.commands.CopyFileName"
            name="%commands.CopyFileName.name">
      </command>
      <command
            categoryId="com.googlecode.eclipse.navigatorext.category.keys"
            description="%commands.CopyFullPath.desc"
            id="com.googlecode.eclipse.navigatorext.commands.CopyFullPath"
            name="%commands.CopyFullPath.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.googlecode.eclipse.navigatorext.actions.ShowContextMenu"
            commandId="com.googlecode.eclipse.navigatorext.commands.ShowContextMenu">
      </handler>
      <handler
            class="com.googlecode.eclipse.navigatorext.actions.CopyFullPath"
            commandId="com.googlecode.eclipse.navigatorext.commands.CopyFullPath">
      </handler>
      <handler
            class="com.googlecode.eclipse.navigatorext.actions.CopyFileName"
            commandId="com.googlecode.eclipse.navigatorext.commands.CopyFileName">
      </handler>
      <handler
            class="com.googlecode.eclipse.navigatorext.actions.CopyParentPath"
            commandId="com.googlecode.eclipse.navigatorext.commands.CopyParentPath">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.googlecode.eclipse.navigatorext.commands.ShowContextMenu"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+F10">
      </key>
      <key
            commandId="com.googlecode.eclipse.navigatorext.commands.CopyParentPath"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+1">
      </key>
      <key
            commandId="com.googlecode.eclipse.navigatorext.commands.CopyFileName"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+2">
      </key>
      <key
            commandId="com.googlecode.eclipse.navigatorext.commands.CopyFullPath"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+3">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/edit-copy.png"
               id="navigatorext.popup.copyPath"
               label="%popup.copyPath.lable">
            <command
                  commandId="com.googlecode.eclipse.navigatorext.commands.CopyFullPath"
                  style="push">
            </command>
            <command
                  commandId="com.googlecode.eclipse.navigatorext.commands.CopyFileName"
                  style="push">
            </command>
            <command
                  commandId="com.googlecode.eclipse.navigatorext.commands.CopyParentPath"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                        </adapt>
                        <adapt
                              type="org.eclipse.jdt.core.IType">
                        </adapt>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
         <command
               commandId="com.googlecode.eclipse.navigatorext.commands.ShowContextMenu"
               icon="icons/start-here.png"
               label="%commands.ShowContextMenu.name">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <or>
                     <and>
                         <instanceof
                               value="org.eclipse.ui.IViewPart">
                         </instanceof>
                         <with
                               variable="selection">
                              <count
                                    value="1">
                              </count>
                              <iterate>
                                 <or>
                                    <adapt
                                          type="org.eclipse.core.resources.IResource">
                                    </adapt>
                                    <adapt
                                          type="org.eclipse.jdt.core.IType">
                                    </adapt>
                                 </or>
                              </iterate>
                         </with>
                     </and>
                     <and>
                         <instanceof
                               value="org.eclipse.ui.IEditorPart">
                         </instanceof>
                         <!--
                         <or>
                           <adapt type="org.eclipse.core.resources.IResource" />
                           <adapt type="java.io.File" />
                         </or>
                         -->
                     </and>
                  </or>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%page.contextMenu.name"
            class="com.googlecode.eclipse.navigatorext.preferences.ContextMenuPreferencePage"
            id="com.googlecode.eclipse.navigatorext.page.contextMenu">
      </page>
   </extension>

</plugin>
